<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.test1.BiuBiuMapper">
	
	<resultMap type="org.test1.BiuBiu" id="biubiuMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="address" column="address"/>
		<result property="time" column="time"/>
	</resultMap>
	
	<select id="selectBiuBiu" resultMap="biubiuMap">
		select id, name, age, address, time from biubiu where id = #{id}
	</select>
	
</mapper>